* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(126, 213, 251);
}

/* BASICS */

button {
  cursor: pointer;
}

/* LAYOUTS */

.main-layout {
  max-width: 1080px;
  margin: auto;
}

/* HEADER */

header {
  background-color: azure;
}

.header-content {
  max-width: 1080px;
  margin: auto;
}

header h1{
 font-family: monospace;
 font-size: 1.8rem;
}

.header-search {
  width: 50%;
  align-items: center;
  justify-content: end;
}

.header-search button {
  background-color: rgb(74, 174, 241);
  border: 0px;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  color: aliceblue;
  font-weight: 600;
  margin: 2px;
}

/* WEATHER */
.weather-div {
  height: 120px;
  width: 100%;
  background-color: azure;
  margin-top: 100px;
}

/* MAIN */

main{
  margin-top: 15px;
}

.location-infos {
  width: 40%;
}

.curr-location-name {
  color: rgb(23, 34, 33);
  font-weight: 900;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  background-color: azure;
  color: rgb(22, 29, 36);
  width: 100%;
}

td {
  text-align: center;
}

td button {
  border: 0px;
  background-color: rgb(74, 174, 241);
  border-radius: 3px;
}


/* MODAL */

.modal{
  display: flex;
  position: fixed;
  background-color: whitesmoke;
  width: 350px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}


.main-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(87, 80, 80, 0.35);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

body.modal-open .main-screen {
  pointer-events: auto;
  opacity: 1;
}
/* HELPER */

header {
  align-items: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.closed{
  display: none;
}

